---
title: EDoN Wiki
---

{{< blocks/cover title="Welcome to the EDoN Wiki!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<p class="lead mt-5">A place to document and store useful information to help run the EDoN Initiative</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The EDoN Wiki is a place to curate information in one place to help us find up to date information on how we
work in EDoN and what we are doing. This site is private and for EDoN staff only. Everyone is welcome to 
contribute via the [EDoN Gitlab Repository](https://gitlab.com/arronlacey/docsy-clone) - please find useful links below on how to get started.

<a href="https://www.netlify.com" target="_blank" rel="noopener">
  <img src="https://www.netlify.com/img/global/badges/netlify-color-accent.svg" alt="Deploys by Netlify" />
</a>
{{% /blocks/lead %}}

{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="Learn how to edit the EDoN Wiki" url="/docs/examples/" %}}
The EDoN Wiki is powered by **Docsy** - find about more about how to edit the EDoN Wiki
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contribute the Wiki" url="https://github.com/google/docsy" %}}
We do a [Pull Request](https://github.com/google/docsy/pulls) contributions workflow on **GitLab**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Discuss ideas on Slack" url="edon-initiative.slack.com" %}}
Got an idea on how to improve the Wiki? Discuss on the EDoN Slack
{{% /blocks/feature %}}

{{< /blocks/section >}}
